---
layout: compress
# Default layout
---

<!DOCTYPE html>

{% include lang.html %}

{% capture prefer_mode %}
  {% if site.theme_mode %}
    mode="{{ site.theme_mode }}"
  {% endif %}
{% endcapture %}

<html lang="{{ site.lang }}"{{ prefer_mode }}>
  <header>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-T25D4ERGQW"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-T25D4ERGQW');
    </script>
  </header>

  {% include head.html %}

  {% unless site.theme_mode %}
    {% include mode-toggle.html %}
  {% endunless %}

  <body data-spy="scroll" data-target="#toc">

    {% include sidebar.html %}

    {% if page.layout != 'post' %}
      {% include topbar.html %}
    {% endif %}

    <div id="main-wrapper">
      <div id="main">

        {{ content }}

        {% include footer.html %}

      </div>

      {% include search-results.html %}

    </div> <!-- #main-wrapper -->

    {% if page.mermaid %}
      {% include mermaid.html %}
    {% endif %}

    <div id="mask"></div>

    <a id="back-to-top" href="#" aria-label="back-to-top" class="btn btn-lg btn-box-shadow" role="button">
      <i class="fas fa-angle-up"></i>
    </a>

    {% include search-loader.html %}

    {% include js-selector.html %}

  </body>

</html>
